{% extends "layout.html" %}

{% block title%}
    quote
{% endblock %}

{%block main %}


<form action="/quote" method="post">
    <div class="sticky-sm-top">
        <label for="symbol" class="form-label">Enter Stock Ticker Symbol quote</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">$</span>
          <input type="text"  maxlength="4" minlength="4" class="form-control" id="symbol" name="symbol" aria-describedby="inputGroupPrepend" required>

          <button class="btn btn-primary" type="submit">Go</button>
          
        </div>

       
       

        
    </div>

    <div class="stock">

        <h2> {{ symbol }} </h2>
        <h4> {{ price }} </h4>

    </div>
    
</form>

{% endblock %}